.library-container {
    width: 100%;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
}

.library-card {
    display: grid;
    justify-content: center;
    min-height: 100px;
    background: #eee;
    border-radius: 25px;
    padding: 25px;
    gap: 15px;
}

.add-book {
    grid-template-columns: auto 1fr;
    grid-auto-flow: row;
}

#submit {
    grid-column: 1 / span 2;
    border: 0;
    background: rgb(47, 146, 228);
    color: #eee;
    border-radius: 25px;
    padding: 10px 35px
}